service: serverless-deploy-test

frameworkVersion: '2'

provider:
  name: aws
  region: ap-northeast-1
  runtime: python3.8
  lambdaHashingVersion: 20201221

functions:
  hello:
    handler: handler.hello
